<%- include('partials/header'); -%>


<div class="container-fluid">
    <main class="form-signin">
    
      <form class="" action="/artistLoggedIn" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Artist Username</label>
          <input type="text" class="form-control" name="Username" required>
    
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="Password" required>
          <div class="form-text">We'll never share your Password with anyone else.</div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" required>
          <label class="form-check-label" for="checkbox">"agree kar hamari conditions"</label>
        </div>
        <button type="submit" class="btn btn-primary" name="Login">Login</button>
      </form>
    
    </main>
    
    </div>
    



<%- include('partials/footer'); -%>