<%- include('partials/header'); -%>

<div class="container-fluid">


<main class="form-signin">
  <p style="color: red"><%= message %></p>


  <form class="" action="/customerRegister" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Customer Name: </label>
      <input type="text" class="form-control" name="CustomerName" required>

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email: </label>
      <input type="email" class="form-control" name="Email" required>
      <div class="form-text">We'll never share your Email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Date of Birth: </label>
      <input type="date" class="form-control" name="DOB" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Address: </label>
      <input type="text" class="form-control" name="Address" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Username: </label>
      <input type="text" class="form-control" name="Username" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password: </label>
      <input type="password" class="form-control" name="Password" required>
      <div class="form-text">We'll never share your Password with anyone else.</div>
    </div>


    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" required>
      <label class="form-check-label" for="checkbox">"agree kar hamari conditions"</label>
    </div>
    <button type="submit" class="btn btn-primary" name="Register">Register</button>
  </form>

</main>

<br>

</div>


<%- include('partials/footer'); -%>
